
@media print {
    .page-break {
        display:  inline-block;
        /* display: block; */
        /* position: relative; */
        page-break-inside: avoid !important;
        page-break-before: auto;
        page-break-after: auto;
    }
}
